@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');


/* shared styles  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

.text-gray {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.section-title {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}

/* header styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 180px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 16px;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles  */

.banner-content {
    max-width: 860px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    padding: 20px;
    margin-top: 50px;
}

.banner-description {
    color: #727272;
    padding: 5px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

.btn {
    border-radius: 8px;
    background: #FF900E;
    color: white;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    padding: 13px 18px;
    cursor: pointer;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}



/* main styles */

main {
    max-width: 1100px;
    margin: 70px auto;
}

/* teams style  */


.teams-container {
    display: flex;
    align-items: center;
}

.teams-image {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}

.teams-content {
    width: 50%;
    padding-right: 20px;
    padding-left: 50px;
}

.teams-title {
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.teams-title .quick-text {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
}

.teams-content .text-gray {
    margin-bottom: 15px;
}

/* features styles  */

.features {
    margin-top: 100px;
    display: flex;
    gap: 40px;
}

.feature-content {
    width: 50%;
}

.feature-image {
    width: 50%;
}

.feature-content .features-title {
    font-size: 2.3rem;
    margin-bottom: 10px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-description {
    margin-bottom: 10px;
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

}

.feature-image img {
    height: 85%;
    margin-left: 30px;
}

.feature-content .card {
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.tenyear-badge {
    border-radius: 8px;
    background: #FF900E;
    color: white;
    width: 250px;
    padding: 30px;
    text-align: center;
    position: relative;
    bottom: 90px;
}

.tenyear-badge h2 {
    font-size: 3rem;
}

.tenyear-badge p {
    font-size: 1.3rem;
}

/* facts style  */
.facts .text-gray {
    margin-top: 20px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.fact-card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-top: 70px;
    padding: 30px 20px;
}

.facts-card .card-stats {
    font-size: 2.5rem;
    color: #424242;
}

.facts-card .card-title {
    color: #727272;
    font-size: 1.15rem;
    font-weight: 600;
}






/* responsive styles  */



/* mobile devices  */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .features,
    .facts-card-container
    {
        flex-direction: column;

    }

    nav ul {
        margin-top: 40px;
    }

    .banner-title {
        margin-top: 20px;
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    .teams-content {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .teams-image {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 1.2rem;
        padding: 20px;
    }

    .feature-content {
        width: 100%;
        padding: 20px;
    }

    .feature-image {
        width: 100%;
        padding: 20px;
    }

    .feature-image img {
        width: 100%;
        margin-left: 0;
    }

    .tenyear-badge {
        width: 100%;
        position: static;
    }
    .facts{
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        align-items: center;
    }
    .fact-card{
        margin-top: 20px;
    }
    
    



}

/* table or medium devices  */

@media screen and (min-width:576px) and (max-width:960px) {

    header {
        padding: 40px;
    }

    nav
    {
        flex-direction: column;
    }

    nav ul {
        margin-top: 50px;
    }

    .banner-title {
        margin-top: 20px;
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    .teams-content {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .teams-image {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 1.2rem;
        padding: 20px;
    }

    .features {
        flex-direction: column;
    }

    .feature-content {
        width: 100%;
        padding: 20px;
    }

    .feature-image {
        width: 100%;
        padding: 20px;
    }

    .feature-image img {
        width: 100%;
        margin-left: 0;
    }

    .tenyear-badge {
        width: 100%;
        position: static;
    }
    .facts{
        padding: 20px;
    }
    .facts-card-container{
        align-items: center;
        gap: 10px;
    }
    .fact-card{
        margin-top: 20px;
    }
    
}