@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    ;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 180px;
}

.nav-title {
    color: #131313;
    text-align: center;
    font-size: 30px;
    font-weight: 700;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 16px;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles  */
.banner-content {
    max-width: 860px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    padding: 20px;
    margin-top: 50px;
}

.banner-description {
    color: #727272;
    padding: 5px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

.btn {
    border-radius: 8px;
    background: #FF900E;
    color: white;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 20px;
    cursor: pointer;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}

/* responsive styles  */



/* mobile devices  */
@media screen  and (max-width:576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;

    }
    nav ul{
        margin-top: 40px; 
    }
    .banner-title{
        margin-top: 20px;
    }

}

/* table or medium devices  */

@media screen and (min-width:576px) and (max-width:960px){

     header{
        padding: 40px;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        margin-top: 50px;
    }
    .banner-title{
        margin-top: 20px;
    }
}